<!DOCTYPE html>
<html>
<head>
    <title>Audit History - <%= shopData.shopName %></title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>
    <h1>Audit History</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Action</th>
            <th>Timestamp</th>
        </tr>
        <% audit.forEach(entry => { %>
            <tr>
                <td><%= entry.username %></td>
                <td><%= entry.action %></td>
                <td><%= entry.log_time%></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>