html, body {
    height: 100%;
    margin: 0;
}
h2{
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/pomegranate.png');
    background-size: 100% auto;      
    background-position: center;  
    background-repeat: no-repeat;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #f7d4d1;
    padding: 40px 20px;

}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    margin-top: 30px;
}

.nav-btn {
    background: #ff6b6b;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
    box-shadow: 0px 4px 8px rgba(255, 107, 107, 0.3);
}

.nav-btn:hover {
    background: #ff3b3b;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(255, 59, 59, 0.4);
}
